

@model IEnumerable<aspInClass1.Models.Product>
@{
    ViewBag.Title = "Product Name";
}

@{
    ViewData["Title"] = "Home Page";
}

<thead>
    <tr>
        <th>Price</th>
        <th>Description</th>
        <th>Category</th>
    </tr>
</thead>
<tbody>
    @foreach (Product p in Model)
    {
        string blue = "";
        if (p.Category == "WaterSports")
        {
            blue = "bluer";

        }
        <tr @Html.Raw(blue)>
            <td class="@blue">Product Name: @p.Name</td>
            <td>Product Price: @p.Price</td>
        </tr>
        <tr>
            <td>@p.Description</td>
            <td>@p.Category</td>
        </tr>

    }
</tbody>

<a href="/blog">Home</a>
<a href="/faq">FAQ</a>
<a href="/categories">Categories</a>
<a href="/tags">Tags</a>
<a href="/authors">Authors</a>
<a href="/locations">Locations</a>




